
.score {
    width: 100%;
    background-color: black;
    height: 80px;
    align-items: center;
    text-align: center;
    
}

body {
    color: white;
   overflow-y: hidden;
  
   
}
.game {
    width: 400px;
    height: 90vh;
    position: relative;
    background-color: black;
    margin: auto;
}

.start {
    background-color: red;
    padding: 20px;
    color: white;
    height: 130px;
    width: 600px;
    position: absolute;
    margin-left: 24%;
    margin-top: 32px;
    z-index: 1;
    text-align: center;
}

.hide {
    display:none;
}

.car {
     background: url("mycar.png");
     background-size: contain; 
     /* background-color: red;   */
    height: 100px;
    width: 50px;
    position: absolute;
    bottom: 0;
}

.line {
    background-color: white;
    height: 100px;
    position: absolute;
    left: 47%;
    width: 10px;
}
.enemy {
    background: url("enemycar1.png");
     background-size: contain; 
     /* background-color: red;   */
    height: 90px;
    width: 40px;
    position: absolute;
    
}

.enemy2 {
    background: url("enemycar2.png");
     background-size: contain; 
     /* background-color: red;   */
    height: 90px;
    width: 40px;
    position: absolute;
    
}
